---
// Este archivo recibe 'userData' como prop para poblar los campos de entrada
export interface Props {
  userData: Record<string, any>;
}

const { userData } = Astro.props;
---
<section id="config-sensor">
  <h3 class="text-xl font-semibold mb-4">Configuración de Sensor de Temperatura/Humedad</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <label for="device-id" class="block text-sm font-medium text-gray-700">ID del Dispositivo</label>
      <input 
        type="text" 
        id="device_id" 
        name="device_id" 
        value={userData?.device_id || ''} 
        placeholder="Ingrese el Device ID" 
        required 
        class="mt-1 p-2 block w-full border border-gray-300 rounded-md"
      >
    </div>
    <div>
      <label for="device-name" class="block text-sm font-medium text-gray-700">Nombre del Dispositivo</label>
      <input 
        type="text" 
        id="deviceName" 
        name="deviceName" 
        value={userData?.deviceName || ''} 
        placeholder="Ingrese Nombre Dispositivo" 
        required 
        class="mt-1 p-2 block w-full border border-gray-300 rounded-md"
      >
    </div>
  </div>
</section>
