---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

const auth = getAuth(app);

// Verificaci칩n de sesi칩n antes de enviar contenido
let user;
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}

const sessionCookie = Astro.cookies.get("__session").value;
try {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  user = await auth.getUser(decodedCookie.uid);
} catch (error) {
  // Redirigir a /signin si la sesi칩n no es v치lida o ha expirado
  return Astro.redirect("/signin");
}

import ChatGPT from '../components/ChatGpt.jsx';


---

<DashboardLayout title="Inicio">
  <div>

    <ChatGPT  client:visible/>
  </div>


</DashboardLayout>
