---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";

const auth = getAuth(app);
const db = getFirestore(app);

// Verificación de sesión y recuperación de datos de usuario
let userData;
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}

const sessionCookie = Astro.cookies.get("__session").value;
try {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  const userId = decodedCookie.uid;
  const userRecord = await auth.getUser(userId);

  // Obtener datos adicionales del perfil desde Firestore
  const profileDoc = await db.collection("profiles").doc(userId).get();
  const profileData = profileDoc.exists ? profileDoc.data() : {};

  // Combinar datos de Firebase Auth y Firestore
  userData = {
    displayName: userRecord.displayName,
    email: userRecord.email,
    ...profileData,
  };
} catch (error) {
  return Astro.redirect("/signin");
}

// COMPONENTES
import PersonalInfo from '../components/profile/PersonalInfo.astro';
import GrowInfo from '../components/profile/GrowInfo.astro';
import TuyaInfo from '../components/profile/TuyaInfo.astro';
---

<DashboardLayout title="Modificar Perfil">
  <div class="mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6">Perfil del Cultivador</h2>
    <form action="/api/profile/update" method="post" class="space-y-6">
      <PersonalInfo userData={userData} />
      <GrowInfo userData={userData} />
      <TuyaInfo userData={userData} />
  
      <div class="mt-6">
        <button type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white font-bold py-2 rounded-md">Guardar Cambios</button>
      </div>
    </form>
  </div>
</DashboardLayout>